.styled-image {
    width: 250px;  /* Cambiado a 70px */
    height: 70px; /* Cambiado a 70px */
    left: 70pX;
    position: relative;
  }
  
  .icon-circle {
    width: 40px;
    height: 40px;
    background-color: #ffff00; /* color amarillo del círculo */
    border-radius: 50%; /* esto hace que el contenedor sea un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* color negro del fondo */
    border: 1px solid #84754E; /* borde amarillo */
        margin-right: 8px; /* Espacio horizontal */
  
  }
  
  .icon-color {
    color: #84754E; /* Color blanco para los íconos sobre fondo oscuro */
  }
  .navbar {
      background-color: #000 !important; /* Color negro */
  
  }
  .registros{
    color: white; /* Color blanco para los íconos sobre fondo oscuro */
  
  }
  .iconos{
    margin-left: 20px;
  }

  .black-background {
    background-color: #000000; /* Hex code for black */
    color: #ffffff; /* Text color set to white for contrast */
}